baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'Your Name - Resume'

enableEmoji = true
disableKinds = ["taxonomy", "term"]


[params.resume] 
  name = "Your"
  lastName = "Name"
  location = "Warsaw, Poland"
  remote = true
  lead = "Go Team Lead 🚀 / Go Developer 🐹 / self-hosted Enthusiast ❤️"

[params.contact]
    # text = "Contact:"
    tel = "+48 111 222 333"
    mail = "your-mail@example.org"
    linkedin = "linkedin.com/in/example"

[params.yearsOfExperience]
  text = "YEARS IN SOFTWARE DEVELOPMENT"
  startDate = "2018-06-01T00:00:00+02:00"

[params.languages]
  text = "HUMMAN SPEECH"
[[params.languages.items]]
  lang = "Polish"
  level = "native"
[[params.languages.items]]
  lang = "English"
  level = "C1"

[params]
  skills =  ["GO", "Gin", "GORM", "Kafka", "MySql", "REST", "ZAP", "GitLab CI/CD"]
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[module]
  [module.hugoVersion]
    extended = false
    min = "0.116.0"
